/*Mensaje de busqueda*/
.searching{
	background-image: 
		linear-gradient(90deg, red, blue);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin: 12px 0;
	text-align: center;
}

/* Input de búsqueda */

input#search_box{
	background-color: transparent;
	color: #fff;
	border: none;
	border-bottom: 2px solid #fff;
	padding-right: 2rem;
}

input#search_box:focus{
	box-shadow: none;
	/*width: 350px;*/
}

input#search_box::placeholder{
	color: #E2E3E4;
}

input#search_box:focus ~ #search_icon{
	color: #30D930;
}

input#search_box:focus{
	border-bottom-color: #30D930;
}

#search_icon{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	transition: color .3s;
}

#search_spinner{
	color: #D8FFE9;
	font-size: 20px;
	position: absolute;
	left: -25px;
	top: 10px;
	/*transform: translateY(-50%);*/
	/*z-index: 10;*/
}