:root{
	--title1: 16px;
	--title2: 16px;
	--text: 12px;
}

.logo img{
	width: 50px;
	padding: 10px;
	border-radius: 5px;
}

/* body{
	margin:0px;
	box-sizing: border-box;
	position: 0px;
	background:white;
	background-size: cover;
} */

/* h1{
	margin: 4000px auto 2px;
} */

span{
	font-size: 16px;
	font-family: verdana;
	font-style: italic;
}

/* form{
	max-width:500px;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid rgb(117, 207, 117);
	background-color: #fff;
	box-shadow: 2px 4px 4px #aaa;
}

input, select, textarea{
	width: 100%;
	display: block;
	padding: 15px;
	margin: 12px 0;
	border-radius: 12px;
	background-color: #edfe;
	border: none;
	outline: none;
	box-sizing: border-box;
} */

/* input:focus, textarea:focus{
	background-color: #cbf5c6;
	transition: .4s;
} */



/* input[type=submit]{
	background-color: #54c971;
	color: #fff;
	padding: 12px 12px;
	border: none;
	cursor: pointer;
	font-size: var(--fontSize-1);
	margin-top: 30px;
	border-radius: 10px;
} */

/* input[type=submit]:hover{
	background: #13bd68a6;
	transition: all 0.5s;
	border-radius: 5px;
	color:white;
} */

.mensaje{
	font-family: Arial;
	font-size: var(--fontSize-1);
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: #000;
	position: relative;
}
