:root{
  --form-color: #edf3ee;
  --light-green: #DFFAEB;
  --medium-green: #157759;

  --xs: 0;
  --sm: 576px;
  --md: 768px;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.left-section {
  /*background-image: url(../img/fondo-login.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center;*/
  position: relative;
  background: var(--light-green);
}

.left-section .left-section__title {
  position: relative;
  margin-bottom: 22px;
}

.left-section .left-section__title svg{
  position: absolute;
  width: 52px;
  top: -35px;
  right: -38px;
}

.left-section .left-section__image{
  width: 30%;
}

.left-section .divider{
  position: absolute; 
  right: -3px; 
  z-index: 10;
}

.left-section .divider svg{
  height: 100vh;
}

.left-section .divider svg path{
  fill: var(--medium-green);
}

.left-section h1{
  text-align: center;
  color: #157759;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .left-section{
    height: 15vh;
  }

  .right-section{
    height: 85vh;
  }
}


/*.shapedividers_com-7324{
  overflow:hidden;
  position:relative;
}
.shapedividers_com-7324::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  transform:scaleY(4);
  transform-origin: 100% 100%;
  animation: 9s infinite alternate shape-ver-anim-7324-mobile linear;
  background-size: 103px 100%;
  background-position: 100% 50%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.67 0c-.55 3.07.41 9.27 0 16.14-.4 6.88-.58 13.75.1 19.14h.4V0z" fill="%23157759"/><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" opacity=".5" fill="%23157759"/><path d="M.31 0c.84 2.56.3 7.68.43 11.79.12 4.1.61 6.86.28 9.58-.33 2.73-1.18 5.61-1 8.61.19 3 .82 4.73.84 5.3h1.2V0z" opacity=".5" fill="%23157759"/></svg>'); 
}

@keyframes shape-ver-anim-7324-mobile {
  100% {
    transform: scaleY(4) translateY(calc(100% - (100% / 4)));
  }
} 
@media (min-width:768px){
  .shapedividers_com-7324::before{
  transform:scaleY(4);
  transform-origin: 100% 100%;
  animation: 9s infinite alternate shape-ver-anim-7324-mobile linear;
  background-size: 103px 100%;
  background-position: 100% 50%;   
  }  
}

@media (min-width:1025px){
  .shapedividers_com-7324::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  transform:scaleY(4.1);
  transform-origin: 100% 100%;
  animation: 9s infinite alternate shape-ver-anim-7324  linear;
  background-size: 103px 100%;
  background-position: 100% 50%;  
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0.529 2.646" preserveAspectRatio="none"><path d="M.53 2.646Q-.53 1.323.53 0z" fill="%23157759"/></svg>'); 
  }
}

@keyframes shape-ver-anim-7324 {
  100% {
    transform: scaleY(4.1) translateY(calc(100% - (100% / 4.1)));
  }
}   */





.right-section{
  background: var(--medium-green);
}


.login-box {
  width: 300px;
  margin-top: 50px;
  background-color: var(--form-color);
  color: #000;
  position: relative;
  box-sizing: border-box;
  padding: 40px 20px 20px;
  /*outline: 4px ridge rgb(35 133 73);*/
  border: 4px solid rgb(20, 207, 107);
  border-radius: 12px;
  animation: slidein 1s;

}

@keyframes slidein {
  from {
    transform: translateX(430px);
  }

  to {
    transform: translateX(0);
  }
}


.login-box .avatar {
  background: var(--form-color);
  border-radius:50%;
  width: 100px;
  height: 100px;
  border: 4px solid rgb(20, 207, 107);

  transform: rotate(45deg);
  border-bottom-color: var(--form-color);
  border-right-color: var(--form-color);
  
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  overflow: hidden;

  display:flex;
  justify-content: center;
  align-items: center;
}

.login-box .avatar img{
  /*object-fit: cover;*/
  width: 70%;
  transform: rotate(-45deg);
}

.login-box h1 {
  margin: 0;
  text-align: center;
  font-size: 22px;
}

.login-box form{
  margin-top: 20px;
}

.login-box label {
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
}

.login-box input:not([type='submit']) {
  border: none;
  border-bottom: 1px solid #000;
  background: #00ff6700;
  outline: none;
  height: 25px;
  color: #000;
  font-size: 16px;
  box-sizing: border-box;
}

.login-box #clave{
  padding-right: 34px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #238549;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  transition: .3s;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #16a858;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #238549;
}

.login-box .eyeBtn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.login-box .eyeBtn:hover{ cursor: pointer; }

.login-box #eyeIcon{ font-size: 18px; }


@media (max-width: 768px){
  .left-section .left-section__image{
    display: none;
  }

  .left-section .left-section__title{
    margin: 15px 0 0;
    
  }

  .left-section .divider{
    /*transform: rotate(90deg);*/
    display: none;
  }

  .left-section .divider svg{
    /*width: 100%;
    height: 100%;*/

  }
}


/* Mensaje */

.message{ 
  overflow: hidden;
  font-size: 16px;
  /*margin-bottom: 10px;*/
  text-align: center;
  max-height: 0;
  transition: max-height 1s;
}

.message--open{
  max-height: 300px;
}

.message p{
  padding: 12px;
  display: inline-block;
  background: #F97F9C;
}