:root{
  --green: #056221;
	--blue: #297d8f;
	--white: #fafafa;
  --light-green: #71fcb9;
  --text-grey: #555;

  --xs: 0;
  --sm: 576px;
  --md: 768px;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

body::after{
  content: '';
  background: linear-gradient(to right, var(--green), var(--blue));
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  z-index: -1;;
}


.login {
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 900px;

  background: var(--white);
  box-shadow: 2px 2px 11px 0px #959595;
}


.login .logo{
  max-width: 100px;
  aspect-ratio: 1/1;
  border: 1px solid var(--light-green);
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.login .logo img {
  width: 100%;
  object-fit: contain;
}

.login__title{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: var(--text-grey);
}

.login input {
  color: var(--text-grey);
  background: transparent;
  border: 1px solid var(--light-green);
}

.login .form-control:focus {
  color: var(--text-grey);
  background-color: rgb(113 252 185 / 12%);
  border-color: var(--light-green);
  box-shadow: 0 0 5px 0.25rem rgb(104 241 175 / 17%);
}

.login button[type="submit"] {
  color: #fff;
  background-color: #048249;
  border: 1px solid #0b6734;
  width: 100%;
  border-radius: 100vmax;
  text-transform: uppercase;
  font-weight: 600;
  transition: background .5s;
}

.login button[type="submit"]:hover {
  background: #0a4028;
}


.login .eyeBtn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.login .eyeBtn i{
  font-size: 18px; 
  color: #aaa;
}

.login .eyeBtn.active i{
  color: var(--light-green);
}



/* Mensaje */

.message{ 
  overflow: hidden;
  font-size: 16px;
  /*margin-bottom: 10px;*/
  text-align: center;
  max-height: 0;
  transition: max-height 1s;
}

.message--open{
  max-height: 300px;
}

.message p{
  padding: 12px;
  display: inline-block;
  background: #F97F9C;
}