:root {
	--delay-circle: .28s;
	--delay-progressbar: 0s;
	--animation-duration: .5s;
}

/*  Cabecera */
#open_filter{
	background-color: transparent;
	border: none;
	color: #ddd;
}

/****** 
 *********/
.search {
    width: 100%; 
    position: relative;
	padding: 55px 0;
}

.search::after{
	content: '';
	position: absolute;
	background: linear-gradient(to right top, var(--green), var(--blue));
    opacity: .8; 
    z-index: 1;
    top: -300px;
    right: 0;
    bottom: 0;
    left: 0;
}

.search .input-group{
	max-width: 700px;
}

/*@media (max-width: 600px){
	.search .input-group{
		width: 100%;
	}
}

@media (max-width: 750){
	.search .input-group{
		width: 70%;
	}
}*/

.repository main{
  overflow: auto;
}

.repository__main{
	margin-top: 3rem;
}

/* Filters Sidebar
----------------------------------------------------- */

.filters{
	/* box-shadow: 3px 0 6px #dadada; */
	height: 100%;
    position: sticky;
    top: 70px;
}

.filters .close{
	background-color: transparent;
	border: none;
	color: #173d64;
}

.filters .filters__title{
	font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 2px solid #e4e4e4;
}

.filters .filters__content{
	height: 89vh; 
	overflow: auto;
}

.filters .filters__content li{
	padding: 7px 0;
}

.filters .filters__list > li > a {
	font-size: 15px;
	color: rgba(0,0,0,.7);
	text-decoration: none;
	font-weight: bold;
}

.filters .filters__list > li i {
	min-width: 21px;
}



.filters .submenu{
	list-style: none;
	padding: 0;
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filters .submenu li {
	padding: 5px 0 5px 2rem;
}

.filters .submenu li .text {
	/* overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
	line-height: 1em;
}

.filters .submenu li a{
	text-decoration: none;
	font-size: 14px;
	color: var(--blue);
}

.filters .submenu li input{
	position: absolute;
	display: none;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	margin: 0;
	border: 1px solid var(--blue);
}

.filters .submenu li input:checked{
	display: block;
	background-color: var(--blue);
}

.filters .submenu li:hover input{
	display: block;
}

.filters .submenu li span{
	font-size: 14px;
	color: rgba(0,0,0,.7);
}



.multi-select{
	display: none;
	width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: #efecec;
	box-shadow: 0px -5px 7px 0px rgb(80 80 80 / 50%);
	padding: 8px;
}

.multi-select.show{
	display: flex;
}


@media (max-width: 767.98px) { 
	.filters{
		background-color: var(--white);
		position: fixed;
		top: 0;
		right: -100%;
		width: 100vw;
		height: 100%;
		padding: 8px !important;
		z-index: 1200;
		transition: right .4s;
	}

	.filters .submenu li input{
		display: block;
	}
}

/* @media (max-width: 500px){
	.filters{
		position: fixed;
		top: 0;
		right: -74%;
		width: 70vw;
		z-index: 100;
		transition: right .4s;
	}
} */

/* Custom scrollbar */

.filters .filters__content::-webkit-scrollbar {
  width: 6px;
}
	
.filters .filters__content::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}
	
.filters .filters__content::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(199, 199, 199);
}
  
.filters .filters__content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(172, 172, 172);
}

/* Selected filters
----------------------------------------------------- */

.repository .selected-filters{
	box-shadow: 0 0 12px 4px #ddd;
    padding: 12px;
	margin-top: 3rem;
}

.repository  .selected-filters .clear-filters{
	text-decoration: none;
	color: var(--blue);
}

.repository  .selected-filters .clear-filters:after {
    content: '\f00d';
    font-family: FontAwesome;
    margin-left: 5px;
}

.repository  .selected-filters  ul{
    display: flex;
	gap: 6px;
	flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/* .repository .selected-filters__content > ul > li{
    background-color: var(--blue); 
	color: #fff;
    padding: 6px; 
    border-radius: 7px
} */

.repository .selected-filters__group li,
.repository .selected-filters__group-item {
	background: #267b86;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
}

.repository .selected-filters  ul li a{
	color: #fff;
}

.repository  .highlight{
    background-color: rgba(39, 55, 77 ,.7);
    color: #fff;
	padding: 0 2px;
}


/* Seccion principal
----------------------------------------------------- */

.repository__actions button, button.repository__star{
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: #3C3F43;
}

.repository__tags > *{
	background: #8d8d8d;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}

.repository a.title{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.06rem;
	color: var(--blue);
}

.repository a.title:hover{
	text-decoration: underline;
}

/* Formulario - crear
----------------------------------------------------- */

#register-repository fieldset{
	opacity: 0;
	max-height: 0;
	transition: .6s;
	overflow: hidden;
	/*display: none;*/
}
	
#register-repository fieldset.active{
	opacity: 1;
	max-height: 4000px;
	/*visibility: visible;*/
	/*display: block;*/
}

/* Barra de progreso */

#progress{
	position: relative;
	max-width: 600px;
	margin: 20px auto 50px auto;
}
#progress .progressbar .bar{
	position: absolute;
	width: 100%;
	height: 10px;
	background-color: #CAD3D7;
	top: 50%;
	transform: translateY(-50%);
}
#progress .progressbar .filled{
	width: 0;
	background-color: #3CB38A;
	transition: width var(--animation-duration) var(--delay-progressbar);
}
#progress ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}
#progress ul li{ position: relative; }
#progress ul li .step{
	position: relative;
	background-color: #CAD3D7;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #676D7B;
	cursor: pointer;
	z-index: 20;
}
#progress ul li::after{
	content: '';
	position: absolute;
	width: 110%;
	height: 110%;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(to right, #3CB38A 50%, #CAD3D7 50%);
  	background-size: 200% 100%;
  	background-position: right;
  	transition: background var(--animation-duration) ease-out var(--delay-circle);
}
	
#progress ul li.active::after{
	background-position: left;
}
#progress ul li.finished::after{
	background: #3CB38A;
}
#progress ul li.finished .step{
	background-color: #3CB38A;
	color: #fff;
	transition: background-color .5s;
}
#progress ul li .step span{
	position: absolute;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#progress ul li .title{
	position: absolute;
}

/* Contenedor de imagenes seleccionadas  */

#register-repository .preview_images{
	display: grid;
  	grid-gap: 10px;
  	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
#register-repository .preview_images .image{
	position: relative;
}
#register-repository .preview_images img{
	width: 100%;
	object-fit: contain;
}

#register-repository .preview_images .remove{
	position: absolute;
	right: 3px;
	top: 3px;
	color: #D00202 !important;
	font-size: 25px;
	cursor: pointer;
	transition-property: opacity, color;
	transition-duration: .4s;
}

/* tooltip */

.file__tooltip{
	position: relative;
}

.file__tooltip p{
	position: absolute;
	right: 0;
	background-color: #8DE5A2;
	padding: 6px;
	display: none;
}

.file__tooltip > span:hover ~p{
	display: block;
}

.file__tooltip > span {
	position: absolute;
  	z-index: 1;
  	top: -25px;
  	left: 70%;
}

/* Archivos */

.upload-files input[type="file"]{
    display: none;
}

.upload-files{
	text-align: center;
}

.upload-files .project__file{
	margin: 15px 0;
	position: relative;
}

.upload-files label{
	border: 1px solid #04886d;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 1px 3px 6px #aaa;
	display: inline-block;
	width:97%;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	color: #32b197;
	transition: 0.3s width;
	background-color: #f8fffa;
	font-size: 16px;
}

.upload-files label:hover{
	width: 100%;
}

.upload-files label:hover ~ .remove_element{
	right: 8px;
}

.file__label--notSelected{
	color: #32b197;
	background-color: #f8fffa;
	border: 1px solid #04886d;
}

/* icono para eliminar inputs */

input ~ .remove{
	font-size: 32px;
	color: #F45E5E;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	cursor: pointer;
}

/* icono para eliminar inputs tipo file */

label ~ .remove{
	top: 15px;
	right: 15px;
	font-size: 20px;
	transition: 0.3s right;
}

input#student_name:focus + .search_results{
	visibility: visible;
	opacity: 1;
}

/* Resultados de búsqueda */

.search_results{
	position: absolute;
	background-color: #D2EDE0;
	width: 100%;
	top: 100%;
	z-index: 30;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	max-height: 200px;
	overflow-y: auto;
}

.search_results ul{
	list-style: none;
	padding: 0;
}

.search_results ul li{
	padding: 3px 6px;
	cursor: pointer;
	transition: color .3s;
}
.search_results ul li:hover{
	background-color: #ddd;
	
}

.repository #folder_notFound{
	max-width: 400px;

}
