:root {
	--progress-circle-size: 3.5rem;
	--progress-duration-animation: calc(500ms/2);
}

/*  Cabecera */
#open_filter{
	background-color: transparent;
	border: none;
	color: #ddd;
}

/****** 
 *********/
.search {
    width: 100%; 
    position: relative;
	padding: 55px 0;
}

.search::after{
	content: '';
	position: absolute;
	background: linear-gradient(to right top, var(--green), var(--blue));
    opacity: .8; 
    z-index: 1;
    top: -300px;
    right: 0;
    bottom: 0;
    left: 0;
}

.search .input-group{
	max-width: 700px;
}

/*@media (max-width: 600px){
	.search .input-group{
		width: 100%;
	}
}

@media (max-width: 750){
	.search .input-group{
		width: 70%;
	}
}*/

.repository main{
  overflow: auto;
}

.repository__main{
	margin-top: 3rem;
}

/* Filters Sidebar
----------------------------------------------------- */

.filters{
	/* box-shadow: 3px 0 6px #dadada; */
	height: 100%;
    position: sticky;
    top: 70px;
}

.filters .close{
	background-color: transparent;
	border: none;
	color: #173d64;
}

.filters .filters__title{
	font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 2px solid #e4e4e4;
}

.filters .filters__content{
	height: 89vh; 
	overflow: auto;
}

.filters .filters__content li{
	padding: 7px 0;
}

.filters .filters__list > li > a {
	font-size: 15px;
	color: rgba(0,0,0,.7);
	text-decoration: none;
	font-weight: bold;
}

.filters .filters__list > li i {
	min-width: 21px;
}



.filters .submenu{
	list-style: none;
	padding: 0;
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filters .submenu li {
	padding: 5px 0 5px 2rem;
}

.filters .submenu li .text {
	/* overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
	line-height: 1em;
}

.filters .submenu li a{
	text-decoration: none;
	font-size: 14px;
	color: var(--blue);
}

.filters .submenu li input{
	position: absolute;
	display: none;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	margin: 0;
	border: 1px solid var(--blue);
}

.filters .submenu li input:checked{
	display: block;
	background-color: var(--blue);
}

.filters .submenu li:hover input{
	display: block;
}

.filters .submenu li span{
	font-size: 14px;
	color: rgba(0,0,0,.7);
}



.multi-select{
	display: none;
	width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: #efecec;
	box-shadow: 0px -5px 7px 0px rgb(80 80 80 / 50%);
	padding: 8px;
}

.multi-select.show{
	display: flex;
}


@media (max-width: 767.98px) { 
	.filters{
		background-color: var(--white);
		position: fixed;
		top: 0;
		right: -100%;
		width: 100vw;
		height: 100%;
		padding: 8px !important;
		z-index: 1200;
		transition: right .4s;
	}

	.filters .submenu li input{
		display: block;
	}
}

/* @media (max-width: 500px){
	.filters{
		position: fixed;
		top: 0;
		right: -74%;
		width: 70vw;
		z-index: 100;
		transition: right .4s;
	}
} */

/* Custom scrollbar */

.filters .filters__content::-webkit-scrollbar {
  width: 6px;
}
	
.filters .filters__content::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}
	
.filters .filters__content::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(199, 199, 199);
}
  
.filters .filters__content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(172, 172, 172);
}

/* Selected filters
----------------------------------------------------- */

.repository .selected-filters{
	box-shadow: 0 0 12px 4px #ddd;
    padding: 12px;
	margin-top: 3rem;
}

.repository  .selected-filters .clear-filters{
	text-decoration: none;
	color: var(--blue);
}

.repository  .selected-filters .clear-filters:after {
    content: '\f00d';
    font-family: FontAwesome;
    margin-left: 5px;
}

.repository  .selected-filters  ul{
    display: flex;
	gap: 6px;
	flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/* .repository .selected-filters__content > ul > li{
    background-color: var(--blue); 
	color: #fff;
    padding: 6px; 
    border-radius: 7px
} */

.repository .selected-filters__group li,
.repository .selected-filters__group-item {
	background: #267b86;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
}

.repository .selected-filters  ul li a{
	color: #fff;
}

.repository  .highlight{
    background-color: rgba(39, 55, 77 ,.7);
    color: #fff;
	padding: 0 2px;
}


/* Seccion principal
----------------------------------------------------- */

.repository__actions button, button.repository__star{
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: #3C3F43;
}

.repository__tags > *{
	background: #8d8d8d;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}

.repository a.title{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.06rem;
	color: var(--blue);
}

.repository a.title:hover{
	text-decoration: underline;
}

/* Formulario - crear
----------------------------------------------------- */

#register-repository fieldset{
	background-color: #fff;
	box-shadow: 0px 0 7px 7px #e2e2e2;
	border-radius: 6px;
	padding: 0;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 1000ms;
}
	
#register-repository fieldset.active{
	max-height: 4000px;
	padding: 1rem;
	opacity: 1;
}

#register-repository .section__title{
	margin: 2rem auto;
}

/* Barra de progreso */

.progressbar{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.progressbar li{ 
	position: relative;
}

.progressbar li:not(:first-child){
	flex-grow: 1;
}

.progressbar li .circle{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, var(--blue) 50%, var(--light-gray) 50%);
	background-size: 200% 100%;
	background-position: right;
	border-radius: 50%;
	/* border: 1px solid #d5d5da; */
	cursor: pointer;
	float: right;
	width: var(--progress-circle-size);
	height: var(--progress-circle-size);
	transition: background var(--progress-duration-animation) ease-out;
}

.progressbar li.active .circle{
	background-position: left;
	transition: background var(--progress-duration-animation) ease-out var(--progress-duration-animation);
}

.progressbar li .circle .label{
	display: inline-block;
	background-color: var(--white);
	width: 83%;
	height: 83%;
	border-radius: 50%;
	color: #676D7B;
	position: relative;
}

.progressbar li .circle .label > *{
	position: absolute;
	font-size: 1.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progressbar li .bar{
	content: '';
	position: absolute;
	padding-left: calc(var(--progress-circle-size) - 1px);
	top: 50%;
	right: calc(var(--progress-circle-size) - 1px);
	transform: translateY(-50%);
	height: 5px;
	width: 100%;
	pointer-events: none;
}

.progressbar li .bar span{
	background: linear-gradient(to right, var(--blue) 50%, var(--light-gray) 50%);
	background-size: 200% 100%;
	background-position: right;
	/* border: 1px solid #d5d5da; */
	border-right: none;
	border-left: none;
	height: 100%;
	display: block;
	width: 100%;
	transition: background var(--progress-duration-animation) var(--progress-duration-animation);
}

.progressbar li.active .bar span{
	background-position: left;
	transition: background var(--progress-duration-animation);
}


/* tooltip */

.file__tooltip{
	position: relative;
}

.file__tooltip p{
	position: absolute;
	right: 0;
	background-color: #8DE5A2;
	padding: 6px;
	display: none;
}

.file__tooltip > span:hover ~p{
	display: block;
}

.file__tooltip > span {
	position: absolute;
  	z-index: 1;
  	top: -25px;
  	left: 70%;
}

/* Archivos */

.files .files__drop-zone {
	position: relative;
	width: 100%;
	height: 200px;
	border: 4px dashed #ddd;
}

.files .files__input{
    width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.files .files__info{
	color: #818181;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	text-align: center;
}

.files .files__info > *{
	display: block;
}

.files .files__info .files__icon{
	font-size: 3.5rem;
}

.files .files__info .files__title{
	font-size: 1.5rem;
	letter-spacing: 1.5px;
    line-height: 1;
    margin-top: 5px;
}



.files .files__selected{
	display: grid;
  	grid-gap: 14px;	
}

.files-images .files__selected{
  	grid-template-columns: repeat(auto-fit, minmax(150px, 0fr));
}

.files .file-item{
	padding: 6px;
	box-shadow: 2px 2px 5px #b0b0b0;
	display: flex;
	justify-content: space-between;
	gap: 12px;
	align-items: center;
	overflow: hidden;
}

.files-images .file-item{
	flex-direction: column;
	max-width: 150px;
	justify-content: center;
}

.files-images .file-item img{
	width: 100%;
	object-fit: contain;
}

.files .file-item i.file-remove{
	color: #b60000;
	font-size: 1.5rem;
	transition: 0.3s right;
	cursor: pointer;
}

.files-images .file-item i.file-remove{
	position: absolute;
	top: 5px;
	right: 5px;
}

.files .file-item .file-name{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	vertical-align: middle;
}

.files .file-item .file-name i{
	margin-right: 5px;
	vertical-align: middle;
}

.files .file-item select{
	width: auto;
}


/* 
.upload-files{
	text-align: center;
}

.upload-files .project__file{
	margin: 15px 0;
	position: relative;
}

.upload-files label{
	border: 1px solid #04886d;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 1px 3px 6px #aaa;
	display: inline-block;
	width:97%;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	color: #32b197;
	transition: 0.3s width;
	background-color: #f8fffa;
	font-size: 16px;
}

.upload-files label:hover{
	width: 100%;
}

.upload-files label:hover ~ .remove_element{
	right: 8px;
}

.file__label--notSelected{
	color: #32b197;
	background-color: #f8fffa;
	border: 1px solid #04886d;
} */

/* icono para eliminar inputs */

input ~ .remove{
	font-size: 32px;
	color: #F45E5E;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	cursor: pointer;
}

/* icono para eliminar inputs tipo file */



input#student_name:focus + .search-box__results{
	visibility: visible;
	opacity: 1;
}

/* Resultados de búsqueda */

.search-box__results{
	position: absolute;
	background-color: #D2EDE0;
	width: 100%;
	top: 100%;
	z-index: 30;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	max-height: 200px;
	overflow-y: auto;
}

.search-box__results ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.search-box__results ul li{
	display: flex;
    align-items: center;
    gap: 10px;
	padding: 8px 10px;
	cursor: pointer;
	transition: color .3s;
}
.search-box__results ul li:hover{
	background-color: #ddd;
	
}
.search-box__results ul li > * {
	pointer-events: none;
}

.search-box__results ul li i{
	font-size: 1.5rem;
}

.search-box__results ul li .user-info{
	line-height: 16px;
}

.search-box__results ul li .name{
	display: block;
}

.repository #folder_notFound{
	max-width: 400px;

}


/* Repositories dashboard
----------------------------------------------------- */
.projects-list__item{
	color: var(--text-grey);
}

.projects-list__item a{
	color: #4b4b4b;
    text-decoration: none;
}

.projects-list__item:hover{
	cursor: pointer;
	background-color: #f1f1f1;
}

.projects-list__title{
	font-size: 1.2rem;
}

.projects-list__arrow i{
	font-size: 1.2rem;
}

.projects-list__title span{
	background: var(--blue);
    color: #fff;
	font-size: 12px;
    padding: 2px;
    border-radius: 4px;
    margin-left: 4px;
}

.projects-list__description, 
.projects-list__info{
	font-size: 14px;
}

/* Table */

.project-info__table,
.project-files__table{
	border-color: #c1c1c1 !important;
}

.project-info__form.active button#enableEdit{
	opacity: .4;
	pointer-events: none;
}

.project-info__header{
	background-color: #d3d3d3;
} 

.project-info__table tr td:last-child{
	padding: 0;
}

.project-info__form input,
.project-info__form textarea,
.project-info__form select {
	width: 100%;
    background: transparent;
    border: none;
	padding: 11px 10px;
}

.project-info__form.active input,
.project-info__form.active select,
.project-info__form.active textarea{
	border: 1px solid #cfcfcf;
}

.project-info__form input:focus,
.project-info__form textarea:focus,
.project-info__form select:focus{
	outline: none;
	box-shadow: 0 0 6px 0px #676767;
}

.project-info__form .bootstrap-tagsinput input {
	width: auto;
}

.bootstrap-tagsinput .tag [data-role=remove] {
    display: none;
}
.project-info__form.active .bootstrap-tagsinput .tag [data-role=remove] {
    display: inline-block;
}

.project-info__form .project-info__footer{
	display: none;
}
.project-info__form.active .project-info__footer{
	display: flex;
}