:root{
	/* Primera paleta de colores */

	--color-1: #05386b;
	--color-2: #389483;
	--color-3: #5cdb95;
	--color-4: #8ee4af;
	--color-5: #edf5e1;	

	/* Segunda paleta de colores */

	/*--color-1: #3fd0c9;
	--color-2: #2eaf7d;
	--color-3: #449342;
	--color-4: #02353c;
	--color-5: #c1f6ed;	*/

	/* Tercera paleta de colores */

	/*--color-1: #205072;
	--color-2: #329d9c;
	--color-3: #56c596;
	--color-4: #7be495;
	--color-5: #cff4d2;	*/
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	background: var(--color-5);
	overflow-x: hidden;
}

h1{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 22px;
	background: inherit;
}

span{
	font-size: 16px;
	font-family: verdana;
	font-style: italic;
}

svg > *{
	pointer-events: none;
}

/******************* Navbar **********************/
header{
	 background: rgb(25, 118, 79);
}

.navbar a{
	color: inherit;
  	text-decoration: inherit;
}

.navbar a, 
.navbar a:hover, 
.navbar a:focus, 
.navbar a:active {
      text-decoration: none;
 }

.navbar .navbar-logo{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-shadow: 2px -1px 1px #aaa;
}

.navbar .navbar-logo img{
	width: 50px;
}

.navbar .nav-item a, .navbar .nav-item button{
	color: #fff;
	font-size: 16px;
}

.navbar .dropdown-menu{
	display: block;
	background-color: rgb(25, 118, 79);
	border: none;
	right: 0;
	text-align: center;
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: height .3s;
}

.navbar .dropdown:hover .dropdown-menu{
	padding: 8px 0;
	height: 78px;
}

.navbar .dropdown-menu li a, 
.navbar .dropdown-menu li button{ 
	padding: 6px; 
}

.navbar .dropdown-menu li:hover a,
.navbar .dropdown-menu li:hover{
	background: transparent;
	border-bottom: 1px solid #eee;
	transition: border-bottom .5s;
}

.navbar .dropdown-menu #logout button{
	border: none;
	background: transparent;
}

/* Navbar - JS */

.scroll-down header {
	transform: translate3d(0, -100%, 0);
}

.scroll-up header {
	transform: none;
}

/* Desactivar el scroll de la pagina */
html.no-scroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}


.mensaje{
	font-family: Arial;
	font-size: var(--fontSize-1);
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: #000;
	position: relative;
}

.logo img{
	width: 50px;
	padding: 10px;
	border-radius: 5px;
}